/bin/
.metadata 
/.classpath
/.settings
/jsonTweets.txt
/jsonTweets.txt~
/Log.txt
/log.txt~
/Log.txt~
/tweets.txt
/tweets.txt~
/tweetsSmall.txt
/tweetsSmall.txt~
/clusters/*
/Relationship/*
/.project
/stanford_nlp.proprties
/stanford_nlp.properties~
/clusters0/
/clusters1/
/clusters2/
/clusters3/
/clusters5/
/clusters6/
/Relationship/
/Relationship1/
/200cluster/
/300cluster/
/500cluster/
/600cluster/
/cesjason.txt
/cestweets.txt
/jawadtt.txt
/jawadtt100.txt
/jawadtt300.txt
/jawadtt500.txt
/Log (copy).txt
/Relationship1.zip
/testWekaID.arff
/testWekaID1.arff
/testWekaID1.arff~
/TopEnt.txt
/TopEnt.txt~
/clusters8/
/clustersabc/
