/bin/
.metadata 
/.classpath
/.settings
/jsonTweets.txt
/jsonTweets.txt~
/Log.txt
/log.txt~
/Log.txt~
/tweets.txt
/tweets.txt~
/tweetsSmall.txt
/tweetsSmall.txt~
/clusters/*
/.project
/stanford_nlp.proprties